@import 'tailwindcss';
@import './palette.css';
@import './theme.css';
@plugin 'tailwindcss-radix';
@plugin 'tailwindcss-animate';

@tailwind base;
@tailwind components;
@tailwind utilities;

@source './src/**/*.tsx';
@source '../../packages/**/*.tsx';
@source '../../node_modules/@valley/ui/**/*.tsx';
@source '../../node_modules/@valley/gallery-module/**/*.tsx';

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@layer base {
  *[data-theme='light'],
  :root[data-theme='light'] {
    /** Background */
    --background-default: hsl(var(--ds-background-200));
    --background-paper: hsl(var(--ds-background-100));

    /** Text */
    --text-primary: hsl(var(--ds-gray-1000));
    --text-secondary: hsl(var(--ds-gray-900));
    --text-hint: hsl(var(--ds-gray-800));

    /** Text / Inversed */
    --text-primary-inversed: hsl(var(--ds-gray-100));
    --text-secondary-inversed: hsl(var(--ds-gray-200));
    --text-hint-inversed: hsl(var(--ds-gray-300));

    /** Button */
    --button-focused-fg: rgb(0, 0, 0);
    --button-focused-fg-inversed: rgba(255, 255, 255, 1);

    /** Button / Primary */
    --button-primary-fg: var(--text-primary-inversed);
    --button-primary-bg: hsl(var(--ds-gray-1000));
    --button-primary-hovered-fg: var(--text-primary-inversed);
    --button-primary-hovered-bg: hsla(var(--ds-gray-1000) / 90%);

    /** Button / Secondary */
    --button-secondary-fg: var(--text-primary);
    --button-secondary-bg: var(--background-paper);
    --button-secondary-border: var(--alpha-transparent-12);
    --button-secondary-hovered-fg: var(--text-primary);
    --button-secondary-hovered-bg: #f3f3f3;

    /** Button / Secondary Dimmed */
    --button-secondary-dimmed-fg: var(--text-secondary);
    --button-secondary-dimmed-bg: var(--background-paper);
    --button-secondary-dimmed-border: var(--alpha-transparent-12);
    --button-secondary-dimmed-hovered-fg: var(--text-primary);
    --button-secondary-dimmed-hovered-bg: #f3f3f3;

    /** Button / Tertiary */
    --button-tertiary-fg: var(--text-primary);
    --button-tertiary-bg: transparent;
    --button-tertiary-hovered-fg: var(--text-primary);
    --button-tertiary-hovered-bg: var(--alpha-transparent-07);

    /** Button / Tertiary Dimmed */
    --button-tertiary-dimmed-fg: var(--text-hint);
    --button-tertiary-dimmed-bg: transparent;
    --button-tertiary-dimmed-hovered-fg: var(--text-secondary);
    --button-tertiary-dimmed-hovered-bg: var(--alpha-transparent-07);
    --button-tertiary-dimmed-focused-fg: var(--alpha-transparent-70);

    /** Button / Warning */
    --button-warning-fg: var(--text-primary);
    --button-warning-bg: #f99c1b;
    --button-warning-hovered-fg: var(--button-warning-fg);
    --button-warning-hovered-bg: #d98817;

    /** Button / Danger */
    --button-danger-fg: #ffffff;
    --button-danger-bg: var(--ds-red-800);
    --button-danger-hovered-fg: var(--button-danger-fg);
    --button-danger-hovered-bg: var(--ds-red-900);

    /** Button / Danger Dimmed */
    --button-danger-dimmed-fg: var(--ds-red-800);
    --button-danger-dimmed-bg: rgba(229, 72, 77, 0.12);
    --button-danger-dimmed-hovered-fg: var(--ds-red-900);
    --button-danger-dimmed-hovered-bg: rgba(229, 72, 77, 0.16);
    --button-danger-dimmed-focused-fg: var(--ds-red-700);

    /** Button / Disabled */
    --button-disabled-fg: var(--alpha-transparent-50);
    --button-disabled-bg: var(--alpha-transparent-12);
    --button-disabled-border: var(--alpha-transparent-07);

    /** Button / Github Theme */
    --button-github-theme-fg: var(--text-primary);
    --button-github-theme-bg: #24292e;
    --button-github-theme-hovered-fg: var(--text-primary);
    --button-github-theme-hovered-bg: #313941;

    /** Button / Google Theme */
    --button-google-theme-fg: var(--text-primary);
    --button-google-theme-bg: var(--alpha-transparent-07);
    --button-google-theme-hovered-fg: var(--text-primary);
    --button-google-theme-hovered-bg: var(--alpha-transparent-12);
    --button-google-theme-focused-fg: var(--button-focused-fg);

    /** Button / VK Theme */
    --button-vk-theme-fg: var(--text-primary);
    --button-vk-theme-bg: #0067dc;
    --button-vk-theme-hovered-fg: var(--text-primary);
    --button-vk-theme-hovered-bg: #1375e5;
    --button-vk-theme-focused-fg: var(--button-focused-fg-inversed);

    /** Input */
    --input-border: rgba(23, 23, 23, 0.12);
    --input-border-hovered: rgba(23, 23, 23, 0.24);
    --input-border-focused: var(--text-secondary);
    --input-border-focused-shadow: rgba(0, 0, 0, 0.16);
    --input-border-error: var(--ds-red-600);
    --input-border-error-shadow: rgba(229, 72, 77, 0.16);

    /** Alpha */
    --alpha-solid-03: #f2f2f2;
    --alpha-solid-07: #e8e8e8;
    --alpha-transparent-03: hsla(var(--ds-gray-1000) / 3%);
    --alpha-transparent-07: hsla(var(--ds-gray-1000) / 7%);
    --alpha-transparent-12: hsla(var(--ds-gray-1000) / 12%);
    --alpha-transparent-24: hsla(var(--ds-gray-1000) / 24%);
    --alpha-transparent-32: hsla(var(--ds-gray-1000) / 32%);
    --alpha-transparent-50: hsla(var(--ds-gray-1000) / 50%);
    --alpha-transparent-70: hsla(var(--ds-gray-1000) / 70%);
    --alpha-transparent-80: hsla(var(--ds-gray-1000) / 80%);
    --alpha-inversed-transparent-32: hsla(var(--ds-gray-100) / 32%);

    /** Toast */
    --toast-default-bg: var(--background-paper);
    --toast-default-fg: var(--text-primary);
    --toast-default-border: var(--alpha-transparent-07);
    --toast-success-bg: var(--ds-teal-100);
    --toast-success-fg: var(--ds-teal-1000);
    --toast-success-border: var(--ds-teal-300);
    --toast-info-bg: var(--ds-blue-700);
    --toast-info-fg: var(--ds-blue-1000);
    --toast-info-border: var(--alpha-transparent-12);
    --toast-warning-bg: var(--ds-amber-200);
    --toast-warning-fg: var(--ds-amber-1000);
    --toast-warning-border: var(--ds-amber-400);
    --toast-error-bg: #db262c;
    --toast-error-fg: var(--ds-red-1000);
    --toast-error-border: var(--alpha-transparent-07);

    /** Shadow */
    --shadow-0: none;
    --shadow-1:
      0px 2px 1px -1px rgba(0, 0, 0, 0.07), 0px 1px 1px 0px rgba(0, 0, 0, 0.03),
      0px 1px 3px 0px rgba(0, 0, 0, 0.03);
    --shadow-2:
      0px 3px 1px -2px rgba(0, 0, 0, 0.07), 0px 2px 2px 0px rgba(0, 0, 0, 0.03),
      0px 1px 5px 0px rgba(0, 0, 0, 0.03);
    --shadow-3:
      0px 3px 3px -2px rgba(0, 0, 0, 0.07), 0px 3px 4px 0px rgba(0, 0, 0, 0.03),
      0px 1px 8px 0px rgba(0, 0, 0, 0.03);
    --shadow-4:
      0px 2px 4px -1px rgba(0, 0, 0, 0.07), 0px 4px 5px 0px rgba(0, 0, 0, 0.03),
      0px 1px 10px 0px rgba(0, 0, 0, 0.03);
    --shadow-5:
      0px 3px 5px -1px rgba(0, 0, 0, 0.07), 0px 5px 8px 0px rgba(0, 0, 0, 0.03),
      0px 1px 14px 0px rgba(0, 0, 0, 0.03);
    --shadow-6:
      0px 3px 5px -1px rgba(0, 0, 0, 0.07),
      0px 6px 10px 0px rgba(0, 0, 0, 0.03), 0px 1px 18px 0px rgba(0, 0, 0, 0.03);

    /** Overlay */
    --overlay-shadow:
      0 0 4px 0 rgba(0, 0, 0, 0.03), 0 4px 16px 0 rgba(0, 0, 0, 0.03);

    /** Modal */
    --modal-backdrop: var(--alpha-transparent-50);

    /** Link */
    --link-color: var(--ds-blue-900);
  }

  *[data-theme='dark'],
  :root[data-theme='dark'] {
    /** Background */
    --background-default: hsl(var(--ds-background-200));
    --background-paper: hsl(var(--ds-background-100));

    /** Text */
    --text-primary: hsl(var(--ds-gray-1000));
    --text-secondary: hsl(var(--ds-gray-900));
    --text-hint: hsl(var(--ds-gray-800));

    /** Text / Inversed */
    --text-primary-inversed: hsl(var(--ds-gray-100));
    --text-secondary-inversed: hsl(var(--ds-gray-200));
    --text-hint-inversed: hsl(var(--ds-gray-300));

    /** Button */
    --button-focused-fg: white;
    --button-focused-fg-inversed: rgba(0, 0, 0, 0.8);

    /** Button / Primary */
    --button-primary-fg: var(--text-primary-inversed);
    --button-primary-bg: hsl(var(--ds-gray-1000));
    --button-primary-hovered-fg: var(--text-primary-inversed);
    --button-primary-hovered-bg: hsla(var(--ds-gray-1000) / 90%);

    /** Button / Secondary */
    --button-secondary-fg: var(--text-primary);
    --button-secondary-bg: var(--background-paper);
    --button-secondary-border: var(--alpha-transparent-12);
    --button-secondary-hovered-fg: var(--text-primary);
    --button-secondary-hovered-bg: #1a1a1a;

    /** Button / Secondary Dimmed */
    --button-secondary-dimmed-fg: var(--text-secondary);
    --button-secondary-dimmed-bg: var(--background-paper);
    --button-secondary-dimmed-border: var(--alpha-transparent-12);
    --button-secondary-dimmed-hovered-fg: var(--text-primary);
    --button-secondary-dimmed-hovered-bg: #1a1a1a;

    /** Button / Tertiary */
    --button-tertiary-fg: var(--text-primary);
    --button-tertiary-bg: transparent;
    --button-tertiary-hovered-fg: var(--text-primary);
    --button-tertiary-hovered-bg: var(--alpha-transparent-07);

    /** Button / Tertiary Dimmed */
    --button-tertiary-dimmed-fg: var(--text-hint);
    --button-tertiary-dimmed-bg: transparent;
    --button-tertiary-dimmed-hovered-fg: var(--text-secondary);
    --button-tertiary-dimmed-hovered-bg: var(--alpha-transparent-07);
    --button-tertiary-dimmed-focused-fg: var(--alpha-transparent-70);

    /** Button / Warning */
    --button-warning-fg: var(--text-primary-inversed);
    --button-warning-bg: #ff990a;
    --button-warning-hovered-fg: var(--text-primary-inversed);
    --button-warning-hovered-bg: #ffaf3e;

    /** Button / Danger */
    --button-danger-fg: #ffffff;
    --button-danger-bg: var(--ds-red-800);
    --button-danger-hovered-fg: var(--button-danger-fg);
    --button-danger-hovered-bg: var(--ds-red-600);

    /** Button / Danger Dimmed */
    --button-danger-dimmed-fg: var(--ds-red-800);
    --button-danger-dimmed-bg: rgba(229, 72, 77, 0.12);
    --button-danger-dimmed-hovered-fg: var(--ds-red-900);
    --button-danger-dimmed-hovered-bg: rgba(229, 72, 77, 0.16);
    --button-danger-dimmed-focused-fg: var(--ds-red-700);

    /** Button / Disabled */
    --button-disabled-fg: var(--alpha-transparent-50);
    --button-disabled-bg: var(--alpha-transparent-12);
    --button-disabled-border: var(--alpha-transparent-07);

    /** Button / Github Theme */
    --button-github-theme-fg: var(--text-primary);
    --button-github-theme-bg: #24292e;
    --button-github-theme-hovered-fg: var(--text-primary);
    --button-github-theme-hovered-bg: #313941;

    /** Button / Google Theme */
    --button-google-theme-fg: var(--text-primary);
    --button-google-theme-bg: var(--alpha-transparent-07);
    --button-google-theme-hovered-fg: var(--text-primary);
    --button-google-theme-hovered-bg: var(--alpha-transparent-12);

    /** Button / VK Theme */
    --button-vk-theme-fg: var(--text-primary);
    --button-vk-theme-bg: #0067dc;
    --button-vk-theme-hovered-fg: var(--text-primary);
    --button-vk-theme-hovered-bg: #1375e5;

    /** Input */
    --input-border: #2b2b2b;
    --input-border-hovered: #404040;
    --input-border-focused: var(--text-secondary);
    --input-border-focused-shadow: rgba(255, 255, 255, 0.24);
    --input-border-error: var(--ds-red-600);
    --input-border-error-shadow: rgba(229, 72, 77, 0.24);

    /** Alpha */
    --alpha-solid-03: #121212;
    --alpha-solid-07: #1c1c1c;
    --alpha-transparent-03: hsla(var(--ds-gray-1000) / 3%);
    --alpha-transparent-07: hsla(var(--ds-gray-1000) / 7%);
    --alpha-transparent-12: hsla(var(--ds-gray-1000) / 12%);
    --alpha-transparent-24: hsla(var(--ds-gray-1000) / 24%);
    --alpha-transparent-32: hsla(var(--ds-gray-1000) / 32%);
    --alpha-transparent-50: hsla(var(--ds-gray-1000) / 50%);
    --alpha-transparent-70: hsla(var(--ds-gray-1000) / 70%);
    --alpha-transparent-80: hsla(var(--ds-gray-1000) / 80%);
    --alpha-inversed-transparent-32: hsla(var(--ds-gray-100) / 32%);

    /** Toast */
    --toast-default-bg: var(--background-paper);
    --toast-default-fg: var(--text-primary);
    --toast-default-border: var(--alpha-transparent-07);
    --toast-success-bg: var(--ds-teal-100);
    --toast-success-fg: var(--ds-teal-1000);
    --toast-success-border: var(--ds-teal-300);
    --toast-info-bg: var(--ds-blue-700);
    --toast-info-fg: var(--ds-blue-1000);
    --toast-info-border: var(--alpha-transparent-12);
    --toast-warning-bg: var(--ds-amber-200);
    --toast-warning-fg: var(--ds-amber-1000);
    --toast-warning-border: var(--ds-amber-400);
    --toast-error-bg: #db262c;
    --toast-error-fg: var(--ds-red-1000);
    --toast-error-border: var(--alpha-transparent-07);

    /** Shadow */
    --shadow-0: none;
    --shadow-1:
      0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
      0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    --shadow-2:
      0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14),
      0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    --shadow-3:
      0px 3px 3px -2px rgba(0, 0, 0, 0.2), 0px 3px 4px 0px rgba(0, 0, 0, 0.14),
      0px 1px 8px 0px rgba(0, 0, 0, 0.12);
    --shadow-4:
      0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14),
      0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    --shadow-5:
      0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 5px 8px 0px rgba(0, 0, 0, 0.14),
      0px 1px 14px 0px rgba(0, 0, 0, 0.12);
    --shadow-6:
      0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14),
      0px 1px 18px 0px rgba(0, 0, 0, 0.12);

    /** Overlay */
    --overlay-shadow:
      0 0 4px 0 rgba(255, 255, 255, 0.03),
      0 4px 16px 0 rgba(255, 255, 255, 0.03);

    /** Modal */
    --modal-backdrop: rgba(10, 10, 10, 0.5);

    /** Link */
    --link-color: var(--ds-blue-900);
  }
}

@layer base {
  :root {
    ::selection {
      @apply bg-ds-blue-700 text-white;
    }
  }

  @keyframes clip-grow {
    from {
      clip-path: circle(0% at 50% 50%);
    }
    to {
      clip-path: circle(60% at 50% 50%);
    }
  }

  .clip-grow {
    animation: clip-grow 200ms cubic-bezier(0.62, 0, 0, 1);
  }

  /* Heading Sizes */
  .heading-72 {
    font-size: 72px;
    line-height: 72px;
    letter-spacing: -4.32px;
  }
  .heading-64 {
    font-size: 64px;
    line-height: 64px;
    letter-spacing: -3.84px;
  }
  .heading-56 {
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -3.36px;
  }
  .heading-48 {
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -2.88px;
  }
  .heading-40 {
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -2.4px;
  }
  .heading-32 {
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -1.28px;
  }
  .heading-24 {
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.96px;
  }
  .heading-20 {
    font-size: 20px;
    line-height: 26px;
    letter-spacing: -0.4px;
  }
  .heading-16 {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.32px;
  }
  .heading-14 {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.28px;
  }

  /* Button Sizes */
  .button-16 {
    font-size: 16px;
    line-height: 20px;
  }
  .button-14 {
    font-size: 14px;
    line-height: 20px;
  }
  .button-12 {
    font-size: 12px;
    line-height: 16px;
  }

  /* Label Sizes */
  .label-20 {
    font-size: 20px;
    line-height: 32px;
  }
  .label-18 {
    font-size: 18px;
    line-height: 20px;
  }
  .label-16 {
    font-size: 16px;
    line-height: 20px;
  }
  .label-14 {
    font-size: 14px;
    line-height: 20px;
  }
  .label-13 {
    font-size: 13px;
    line-height: 16px;
  }
  .label-12 {
    font-size: 12px;
    line-height: 16px;
  }

  /* Copy Sizes */
  .copy-24 {
    font-size: 24px;
    line-height: 36px;
  }
  .copy-20 {
    font-size: 20px;
    line-height: 36px;
  }
  .copy-18 {
    font-size: 18px;
    line-height: 28px;
  }
  .copy-16 {
    font-size: 16px;
    line-height: 24px;
  }
  .copy-14 {
    font-size: 14px;
    line-height: 20px;
  }
  .copy-13 {
    font-size: 13px;
    line-height: 18px;
  }

  .heading-32 > strong,
  .heading-24 > strong,
  .heading-20 > strong,
  .heading-16 > strong {
    font-weight: 500;
    --tw-text-opacity: 1;
    color: hsla(var(--ds-gray-900), var(--tw-text-opacity));
  }

  .label-16 > strong,
  .label-14 > strong,
  .label-13 > strong,
  .label-12 > strong,
  .copy-24 > strong,
  .copy-20 > strong,
  .copy-18 > strong,
  .copy-16 > strong,
  .copy-14 > strong,
  .copy-13 > strong {
    font-weight: 500;
    --tw-text-opacity: 1;
    color: hsla(var(--ds-gray-1000), var(--tw-text-opacity));
  }
}

@layer utilities {
  .animation-delay-100 {
    animation-delay: 100ms;
  }
  .animation-delay-200 {
    animation-delay: 200ms;
  }
  .animation-delay-300 {
    animation-delay: 300ms;
  }
  .animation-delay-400 {
    animation-delay: 400ms;
  }
  .animation-delay-500 {
    animation-delay: 500ms;
  }
  .animation-delay-600 {
    animation-delay: 600ms;
  }
  .animation-delay-700 {
    animation-delay: 700ms;
  }
  .animation-delay-800 {
    animation-delay: 800ms;
  }
  .animation-delay-900 {
    animation-delay: 900ms;
  }
  .animation-delay-1000 {
    animation-delay: 1s;
  }
}

@layer components {
  .break-word {
    word-break: break-word;
  }
}
