@import 'tailwindcss';
@import './palette.css';
@import './theme.css';
@plugin 'tailwindcss-radix';
@plugin 'tailwindcss-animate';

@tailwind base;
@tailwind components;
@tailwind utilities;

@source './src/**/*.tsx';
@source '../../packages/**/*.tsx';
@source '../../node_modules/@valley/ui/**/*.tsx';
@source '../../node_modules/@valley/gallery-module/**/*.tsx';

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@layer base {
  :root {
    ::selection {
      @apply bg-ds-blue-700 text-white;
    }
  }

  @keyframes clip-grow {
    from {
      clip-path: circle(0% at 50% 50%);
    }
    to {
      clip-path: circle(60% at 50% 50%);
    }
  }

  .clip-grow {
    animation: clip-grow 200ms cubic-bezier(0.62, 0, 0, 1);
  }

  /* Heading Sizes */
  .heading-72 {
    font-size: 72px;
    line-height: 72px;
    letter-spacing: -4.32px;
  }
  .heading-64 {
    font-size: 64px;
    line-height: 64px;
    letter-spacing: -3.84px;
  }
  .heading-56 {
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -3.36px;
  }
  .heading-48 {
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -2.88px;
  }
  .heading-40 {
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -2.4px;
  }
  .heading-32 {
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -1.28px;
  }
  .heading-24 {
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.96px;
  }
  .heading-20 {
    font-size: 20px;
    line-height: 26px;
    letter-spacing: -0.4px;
  }
  .heading-16 {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.32px;
  }
  .heading-14 {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.28px;
  }

  /* Button Sizes */
  .button-16 {
    font-size: 16px;
    line-height: 20px;
  }
  .button-14 {
    font-size: 14px;
    line-height: 20px;
  }
  .button-12 {
    font-size: 12px;
    line-height: 16px;
  }

  /* Label Sizes */
  .label-20 {
    font-size: 20px;
    line-height: 32px;
  }
  .label-18 {
    font-size: 18px;
    line-height: 20px;
  }
  .label-16 {
    font-size: 16px;
    line-height: 20px;
  }
  .label-14 {
    font-size: 14px;
    line-height: 20px;
  }
  .label-13 {
    font-size: 13px;
    line-height: 16px;
  }
  .label-12 {
    font-size: 12px;
    line-height: 16px;
  }

  /* Copy Sizes */
  .copy-24 {
    font-size: 24px;
    line-height: 36px;
  }
  .copy-20 {
    font-size: 20px;
    line-height: 36px;
  }
  .copy-18 {
    font-size: 18px;
    line-height: 28px;
  }
  .copy-16 {
    font-size: 16px;
    line-height: 24px;
  }
  .copy-14 {
    font-size: 14px;
    line-height: 20px;
  }
  .copy-13 {
    font-size: 13px;
    line-height: 18px;
  }

  .heading-32 > strong,
  .heading-24 > strong,
  .heading-20 > strong,
  .heading-16 > strong {
    font-weight: 500;
    --tw-text-opacity: 1;
    color: hsla(var(--ds-gray-900), var(--tw-text-opacity));
  }

  .label-16 > strong,
  .label-14 > strong,
  .label-13 > strong,
  .label-12 > strong,
  .copy-24 > strong,
  .copy-20 > strong,
  .copy-18 > strong,
  .copy-16 > strong,
  .copy-14 > strong,
  .copy-13 > strong {
    font-weight: 500;
    --tw-text-opacity: 1;
    color: hsla(var(--ds-gray-1000), var(--tw-text-opacity));
  }
}

@layer utilities {
  .animation-delay-100 {
    animation-delay: 100ms;
  }
  .animation-delay-200 {
    animation-delay: 200ms;
  }
  .animation-delay-300 {
    animation-delay: 300ms;
  }
  .animation-delay-400 {
    animation-delay: 400ms;
  }
  .animation-delay-500 {
    animation-delay: 500ms;
  }
  .animation-delay-600 {
    animation-delay: 600ms;
  }
  .animation-delay-700 {
    animation-delay: 700ms;
  }
  .animation-delay-800 {
    animation-delay: 800ms;
  }
  .animation-delay-900 {
    animation-delay: 900ms;
  }
  .animation-delay-1000 {
    animation-delay: 1s;
  }
}

@layer components {
  .break-word {
    word-break: break-word;
  }
}
